{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Edit game{% else %}Add game{% endif %} | BoardGameConnect{% endblock %}

{% block content %}
  <h1 class="h3 mb-3">{% if form.instance.pk %}Edit game{% else %}Add a game{% endif %}</h1>

  <form method="post" enctype="multipart/form-data" class="card card-body" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
      {% include 'partials/_form_field.html' with field=field %}
    {% endfor %}

    <button class="btn btn-primary" type="submit">Save</button>
  </form>
{% endblock %}
